*{
    margin: 0;
    padding: 0;
    border:0 ;
    font-size: 100%;
    vertical-align: baseline;
}
.body{
    text-align: center;
    font-family: sans-serif;

}



.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background:  #171717;
    position: fixed;
    width: 100%;
    z-index:  100%;
}
.head1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background:  #171717;
    position: fixed;
    width: 100%;
    z-index:  100%;
}

.navbar{
    display: flex;
    margin-right: 10px ;
}

.logo{
    margin-left: 30px;
}
 
.logo a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;

}

.navbar a{
    display: block;
    padding: 23px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover{
    background:black  ;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;

}

.header{
    height: 60vh !important;
    background-size: cover;
      background:black;
}

.title{
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: 100;
    text-transform: uppercase;
    color: white;
}

p{
    margin-bottom: 40px;
    font-size: 18px;
    color: white;
    padding: 0 100px;
}

.btn {
display: inline-block;
margin-top: 15px;
padding: 10px 40px;
border:2px solid #9c27b0;
color: black;
text-decoration: none;
background: #9c27b0;
}
.btn:hover{
    background: none;
}

.btn-home{
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}

.content{
    height: 50hv;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.about{
    background: black;
}

.price{
    background: url(/img/img-4.webp) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.contact{
padding-top: 20px;
background: black;
padding-bottom: 0;
}